.wallet-token {
  padding: 2em;
  margin-top: 60px;

  .wallet-wrapper {
    padding: 0 1em;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .box-1 {
        width: 50%;
        display: flex;
        align-items: center;
        gap: 1em;

        .time-frame {
          margin-left: 3em;
        }

        .drop-dwn {
          position: relative;
          cursor: pointer;

          .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 140px;
            height: 60px;
            padding: 0 1em;
            border-radius: 5px;
            background-color: white;
            border: 1px solid rgba(180, 180, 180, 0.479);

            .icon {
              font-size: 15px;
              color: rgb(134, 134, 134);
            }

            p {
              font-size: 15px;
            }
          }
        }

        .val-percent {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          .bal {
            font-size: 2.4em;
            font-weight: bold;
          }

          .percent {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: -38px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 25px;
            font-size: 11px;
            border-radius: 10px;
            color: green;
            background-color: rgb(115, 255, 115);
          }
        }

        .time-frame {
          width: 100px;
          line-height: 1.3;
          word-wrap: break-word;
          font-size: 13px;
        }
      }

      .box-2 {
        width: 28%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          width: 135px;
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 7px;
          font-weight: bold;
          border-radius: 10px;
          cursor: pointer;

          .icon {
            font-size: 17px;
            font-weight: bold;
          }
        }

        .receive {
          background-color: #029588;
          color: white;
        }

        .send {
          border: 1px solid rgb(109, 109, 109);
          cursor: not-allowed;
        }
      }
    }

    .bottom {
      margin-top: 2em;

      .title {
        font-weight: 600;
        font-size: 18px;
      }

      .transact-container {
        width: 100%;
        height: 50vh;
        margin-top: 1em;
        border-radius: 15px;
        background-color: rgb(244, 244, 244);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          max-width: 40%;
          margin: 0 auto;
          font-size: 14px;
          text-align: center;
        }

        .start {
          margin-top: 1.5em;
          width: 240px;
          height: 50px;
          background-color: #029588;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          text-transform: uppercase;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

.trade-modal {
  background-color: white;
  width: 500px;
  height: fit-content;
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;

  .quit-btn {
    float: right;
    cursor: pointer;
  }

  .clear {
    clear: both;
  }

  h3 {
    font-size: 20px;
  }

  p {
    margin-top: 1em;
    font-size: 14px;
    max-width: 90%;
  }

  .qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin: auto;
    margin-top: 1em;

    img {
      width: 100%;
    }
  }

  .addy {
    word-wrap: break-word;
    margin-top: 1em;
    padding: 10px;
    border-radius: 8px;
    background-color: #5eaca5;
    color: rgb(10, 10, 10);
  }

  .copy {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #029588;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .wallet-token {
    padding: 0;
    margin-top: 1em;

    .wallet-wrapper {
      padding: 0;
      .top {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;

        .box-1 {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .drop-dwn {
            position: relative;
            cursor: pointer;

            .card {
              width: 120px;
              height: 50px;
              padding: 0 1em;
            }
          }

          .val-percent {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;

            .bal {
              font-size: 0.9em;
              font-weight: bold;
            }

            .percent {
              width: 30px;
              height: 25px;
              font-size: 10px;
            }
          }

          .time-frame {
            width: 70px;
            line-height: 1.3;
            word-wrap: break-word;
            font-size: 12px;
            margin-left: 0;
            text-align: end;
          }
        }

        .box-2 {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: unset;
          gap: 10px;

          div {
            width: 110px;
            height: 50px;

            .icon {
              font-size: 16px;
              font-weight: bold;
            }

            p {
              font-size: 15px;
            }
          }

          .receive {
            background-color: #029588;
            color: white;
          }

          .send {
            border: 1px solid rgb(109, 109, 109);
            cursor: not-allowed;
          }
        }
      }

      .bottom {
        margin-top: 3em;

        .title {
          font-size: 16px;
        }

        .transact-container {
          width: 100%;
          height: 45vh;
          margin-top: 1em;
          border-radius: 20px;

          p {
            max-width: 80%;
            margin: 0 auto;
          }

          .start {
            margin-top: 1.5em;
            width: 250px;
            height: 50px;
          }
        }
      }
    }
  }

  .trade-modal {
    background-color: white;
    width: 90%;
    height: fit-content;
    padding: 1em;

    h3 {
      font-size: 19px;
    }

    p {
      font-size: 13px;
    }

    .qr-code {
      width: 110px;

      img {
        width: 100%;
      }
    }

    .addy {
      font-size: 15px;
    }

    .copy {
      width: 100%;
      height: 50px;
    }
  }
}
