.fiat {
  margin-top: 1em;

  .fiat-title {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;
    position: relative;

    div {
      font-size: 14px;
      width: 120px;
      height: 30px;
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;
      color: rgb(109, 108, 108);
    }

    .active-link {
      font-weight: bold;
      color: black;
      border-bottom: 2px solid #029588;
    }
  }

  .fiat-contents {
    margin-top: 1.5em;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);

    .wrapper {
      padding: 1em;

      .fc-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 80%;
        margin-top: 5px;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(91, 91, 91);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .fiat {
    margin-top: 1em;

    .fiat-title {
      margin-top: 1.5em;
      position: relative;

      div {
        font-size: 14px;
        width: 80px;
        height: 30px;
      }
    }

    .fiat-contents {
      margin-top: 1.5em;
      width: 100%;
      overflow: scroll;

      .wrapper {
        padding: 1em;
        width: 600px;

        .fc-title {
          margin-top: 0;

          li {
            font-size: 15px;
          }
        }
      }
    }
  }
}
