.hero {
  .hero-cnt {
    .intro {
      display: none;
    }
    .banner {
      width: 100%;
      background-color: #029588;
      height: 180px;
      border-radius: 10px;
      color: white;

      .contents {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;

        .balance {
          display: flex;
          flex-direction: column;
          gap: 1em;

          .title {
            display: flex;
            align-items: center;
            gap: 2em;

            p {
              font-size: 17px;
              letter-spacing: 1px;
              font-weight: bold;
            }

            .currency {
              position: relative;

              .select {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                background-color: rgba(255, 255, 255, 0.408);
                height: 25px;
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                cursor: pointer;
              }

              .set-currency {
                position: absolute;
                left: 0;
                margin-left: -15px;
                margin-top: 5px;
                z-index: 2;
                background-color: rgba(255, 255, 255, 0.633);
                color: black;
                width: 80px;
                height: fit-content;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                  font-size: 15px;
                  cursor: pointer;
                }
              }
            }
          }

          .figure {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 2.5em;
            font-weight: bold;
          }
        }

        .toggle {
          margin-right: 2em;
          width: 65px;
          height: 65px;
          border-radius: 50px;
          background-color: rgba(255, 255, 255, 0.427);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, 0.485);
          }

          .icon {
            font-size: 20px;
          }
        }
      }
    }

    .kyc-card {
      margin-top: 1.5em;
      display: flex;
      justify-content: space-between;

      .card {
        width: 49%;
        height: 140px;
        padding: 0 1em;
        border-radius: 10px;
      }
      .card.leaderboard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        background-color: #029588;
        color: white;

        .section {
          .title {
            font-size: 17px;
            font-weight: bold;
          }

          p {
            font-size: 15px;

            span {
              font-weight: bold;
            }
          }
        }

        .sect-image {
          width: 150px;
          height: 150px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .card.kyc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background-color: rgba(234, 234, 234, 0.873);

        p {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    .hero-cnt {
      .intro {
        display: block;
        text-transform: uppercase;
        font-size: 19px;
        font-weight: bold;
      }

      .banner {
        width: 100%;
        height: 150px;
        margin-top: 10px;

        .contents {
          padding: 0 1em;

          .balance {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 1em;

            .title {
              display: flex;
              align-items: center;
              gap: 2em;

              p {
                font-size: 16px;
              }

              .currency {
                position: relative;

                .select {
                  font-size: 13px;
                  height: 23px;
                  width: 60px;
                }

                .set-currency {
                  position: absolute;
                  left: 0;
                  margin-left: -2px;
                  width: 65px;
                  height: fit-content;
                  padding: 5px;

                  p {
                    font-size: 14px;
                  }
                }
              }
            }

            .figure {
              font-size: 2em;
            }
          }

          .toggle {
            margin-right: 0;
            width: 40px;
            height: 40px;

            .icon {
              font-size: 18px;
            }
          }
        }
      }

      .kyc-card {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;

        .card {
          width: 100%;
          height: 150px;
        }
        .card.leaderboard {
          .section {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .title {
              font-size: 16px;
            }

            p {
              width: 80%;
              font-size: 14px;

              span {
                display: block;
                margin-top: 10px;
              }
            }
          }
        }

        .card.kyc {
          height: 110px;

          p {
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
    }
  }
}
