.sell {
  padding: 1.5em;
  margin-top: 60px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;

    .tokens,
    .action {
      width: 48%;
      border-radius: 10px;
      padding: 1.5em;
      background-color: rgb(243, 243, 243);
    }

    .tokens {
      .container {
        .title {
          font-size: 23px;
          font-weight: bold;
          color: rgb(60, 60, 60);
        }

        .token {
          margin-top: 1em;
          padding: 2em 1.5em;
          background-color: white;

          .search-tkn {
            position: relative;

            input {
              width: 100%;
              height: 50px;
              border-radius: 5px;
              padding: 0 10px 0 20px;
              border: 2px solid #029588;
              font-size: 15px;
              outline: none;

              &::placeholder {
                font-size: 15px;
              }
            }
          }

          .tokens-list {
            margin-top: 2em;
            height: 50vh;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              display: none;
            }

            li {
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 90px;
              padding: 0 10px;
              border-bottom: 1px solid rgba(176, 175, 175, 0.321);

              .tkn {
                display: flex;
                gap: 10px;
                align-items: center;

                .logo {
                  width: 40px;
                  height: 40px;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }

                .details {
                  .tkn-name {
                    font-weight: bold;
                  }

                  .tkn-sym {
                    font-size: 15px;
                  }
                }
              }

              .bal {
                div {
                  width: 110px;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                }
                .tkn-bal {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }

    .action {
      .sel-crypto-nil {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .sel-crypto-filled {
        .select-pane {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1em;
          width: 100%;
          padding: 7px 12px;
          border-radius: 10px;
          background-color: black;

          a {
            width: 120px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            font-size: 15px;
            color: white;

            &:nth-child(1) {
              cursor: not-allowed;
            }
          }

          .active-link {
            font-weight: bold;
            color: black;
            background-color: white;
          }
        }

        .contents {
          .from {
            margin-top: 1.5em;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1em;
            background-color: white;
            border-radius: 5px;
            height: 50px;
            padding: 0 2em;
            font-size: 15px;

            p {
              font-size: 14px;
              color: rgb(130, 130, 130);
              width: 60px;
              height: 20px;
              border-right: 1px solid rgba(178, 178, 178, 0.268);
            }

            h3 {
              font-size: 14px;
              font-weight: normal;
            }
          }

          .to {
            margin-top: 1.5em;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0;
            background-color: white;
            border-radius: 5px;
            height: 50px;
            padding: 0 0 0 2em;
            font-size: 15px;

            p {
              font-size: 14px;
              color: rgb(130, 130, 130);
              width: 60px;
              height: 20px;
              border-right: 1px solid rgba(178, 178, 178, 0.268);
            }

            h3 {
              width: 100%;
              font-size: 14px;
              height: 99%;
              display: flex;
              align-items: center;
              padding-left: 2em;
              cursor: not-allowed;
              color: rgb(149, 149, 149);
              font-weight: normal;
              border-radius: 5px;
              background-color: rgb(233, 233, 233);
            }
          }

          .rate {
            margin-top: 2.5em;
            position: relative;

            .hr-line {
              width: 100%;
              height: 1px;
              background-color: rgb(210, 210, 210);
            }

            p {
              width: 140px;
              height: 30px;
              border-radius: 50px;
              position: absolute;
              right: 35%;
              top: 0;
              margin-top: -15px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              font-size: 14px;
              background-color: rgb(243, 243, 243);
              border: 1px solid rgba(194, 194, 194, 0.407);
            }
          }

          .balance {
            margin-top: 3em;
            font-size: 14px;
            font-weight: 600;
            color: rgb(131, 130, 130);
            float: right;
          }

          .clear {
            clear: both;
          }

          .input-amt {
            margin-top: 1em;
            position: relative;

            input {
              width: 100%;
              height: 50px;
              padding: 0 1em 0 8.5em;
              border-radius: 5px;
              border: 1px solid rgba(152, 152, 152, 0.348);
              outline: 1px solid #029588;
              font-size: 17px;
            }

            .select-opt {
              position: absolute;
              top: 0;

              .cur-pair {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 130px;
                height: 50px;
                padding: 0 1em;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
                font-size: 15px;
                border-right: 1px solid rgb(192, 191, 191);

                .cur {
                  color: rgb(131, 130, 130);
                }

                .icon {
                  color: rgb(142, 142, 142);
                }
              }
            }

            .options {
              position: absolute;
              top: 0;
              left: 0;
              margin-top: 3.3em;
              background-color: white;
              width: 130px;
              height: 100px;
              border-radius: 5px;
              z-index: 3;
              padding: 5px;

              .head {
                font-size: 14px;
                color: rgb(131, 130, 130);
              }

              .opts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                  height: 30px;
                  padding: 0 5px;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  font-size: 14px;
                  background-color: rgb(243, 243, 243);
                  font-weight: bold;
                  cursor: pointer;

                  input {
                    border: none;
                    outline: none;
                    width: 15px;
                  }
                }
              }
            }
          }

          .perc-rate {
            margin-top: 1em;
            display: flex;
            align-items: center;
            gap: 1.5em;

            .card {
              width: 60px;
              height: 25px;
              border-radius: 5px;
              background-color: rgb(232, 232, 232);
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              cursor: pointer;
            }
          }

          .coin-amt {
            margin-top: 3em;
            position: relative;

            input {
              width: 100%;
              height: 50px;
              padding: 0 1em 0 8.5em;
              border-radius: 5px;
              border: 1px solid rgba(152, 152, 152, 0.348);
              outline: 1px solid #029588;
              font-size: 17px;
            }

            .select-opt {
              position: absolute;
              top: 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 130px;
              height: 50px;
              padding: 0 1em;
              background-color: rgb(233, 233, 233);
              border-radius: 5px;
              cursor: not-allowed;
              font-size: 14px;
              color: rgb(142, 142, 142);
              border-right: 1px solid rgb(192, 191, 191);

              .coin-pair {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                  width: 25px;
                  height: 25px;
                }
              }
              .icon {
                color: rgb(142, 142, 142);
              }
            }
          }

          .cont {
            margin-top: 2em;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            background-color: #029588;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.sell-modal {
  background-color: white;
  width: 500px;
  height: 550px;
  padding: 1em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;

  .quit-btn {
    float: right;
    cursor: pointer;
  }

  .clear {
    clear: both;
  }

  .danger-img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-top: 1em;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .pop-info {
    text-align: center;

    h3 {
      font-size: 24px;
    }

    p {
      margin-top: -5px;
      font-size: 15px;
    }
  }

  .snd {
    margin-top: 1em;
    width: 100%;
    height: 90px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      color: rgb(116, 116, 116);
    }

    span {
      color: black;
      font-size: 22px;
      font-weight: bold;
    }
  }

  .receive {
    margin-top: 2em;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      color: rgb(116, 116, 116);
    }

    span {
      color: #029588;
      font-size: 22px;
      font-weight: bold;
    }
  }

  .continue {
    margin-top: 2em;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: #029588;
  }
}

@media screen and (max-width: 768px) {
  .sell {
    padding: 0;
    margin-top: 1em;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5em;
      padding: 0 0 2em 0;

      .tokens,
      .action {
        width: 100%;
        padding: 1em;
      }

      .tokens {
        .container {
          .title {
            font-size: 19px;
          }

          .token {
            margin-top: 1em;
            padding: 1em;

            .search-tkn {
              position: relative;
            }

            .tokens-list {
              margin-top: 1em;
              padding: 10px 0;
              height: 30vh;

              li {
                .tkn {
                  display: flex;
                  gap: 10px;
                  align-items: center;

                  .logo {
                    width: 35px;
                    height: 35px;
                  }

                  .details {
                    .tkn-name {
                      font-size: 15px;
                    }
                  }
                }

                .bal {
                  .tkn-bal {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }

      .action {
        .sel-crypto-filled {
          .select-pane {
            width: 100%;
            padding: 7px;

            a {
              width: 120px;
              height: 40px;
            }
          }

          .contents {
            .input-amt {
              margin-top: 1em;
              position: relative;

              input {
                width: 100%;
                height: 45px;
              }

              .select-opt {
                position: absolute;
                top: 0;

                .cur-pair {
                  width: 130px;
                  height: 45px;
                  padding: 0 1em;
                }
              }
            }

            .perc-rate {
              gap: 1em;

              .card {
                font-size: 14px;
              }
            }

            .coin-amt {
              margin-top: 3em;
              position: relative;

              input {
                width: 100%;
                height: 45px;
              }

              .select-opt {
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 130px;
                height: 45px;

                .coin-pair {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .sell-modal {
    width: 90%;
    height: fit-content;
    padding: 1em;

    .danger-img {
      width: 70px;
      height: 70px;
      margin: 0 auto;
      margin-top: 5px;
    }

    .pop-info {
      text-align: center;

      h3 {
        font-size: 22px;
      }
    }

    .snd {
      margin-top: 10px;
      width: 100%;
      height: 75px;

      span {
        font-size: 20px;
      }
    }

    .receive {
      margin-top: 1em;
      width: 100%;
      height: 75px;

      span {
        font-size: 20px;
      }
    }

    .continue {
      margin-top: 1em;
      width: 100%;
    }
  }
}
