.cable {
  padding: 1.5em;
  margin-top: 60px;

  .wrapper {
    width: 700px;
    background-color: rgb(244, 244, 244);
    border-radius: 20px;
    margin: auto;
    margin-top: 1em;
    padding: 2em;

    .title {
      display: flex;
      align-items: center;

      .func {
        width: 100%;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: rgb(92, 92, 92);
      }
    }

    .container {
      height: 400px;
      margin-top: 1em;
      padding: 3em 2em;
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 2em;

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2em;

          .logo {
            display: flex;
            align-items: center;
            gap: 1em;

            .img {
              width: 40px;
              height: 40px;
              border-radius: 50%;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            p {
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
